<!-- Jumbotron -->
<div class="jumbotron w-100 p-0 m-0">
  <div class="overlay w-100 p-0 m-0">
    <div
      class="w-100 jumb-content d-flex flex-column justify-content-end align-items-center"
    >
      <p class="sub_route">
        <a routerLink="/main">Home </a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/blog">Blogs</a>
      </p>
    </div>
  </div>
</div>

<!-- Blog -->
<div class="blog content pt-4 pb-5">
  <div class="d-flex flex-column align-items-center">
    <span>Blog</span>
    <h1 class="pb-4">Our Blogs</h1>
  </div>
  <div class="row m-0 blog_item">
    <div class="col-lg-4 col-md-6 col-sm-12 pb-4" *ngFor="let blog of blogs">
      <div class="blog-card">
        <p-card [header]="blog.title" class="w-100 p-0 m-0">
          <ng-template pTemplate="header">
            <img alt="Card" [src]="blog.img" />
          </ng-template>
          <p class="p-0">
            {{blog.description}}
          </p>
          <ng-template pTemplate="footer">
            <div class="flex mt-1">
              <p-button severity="secondary" class="w-full" styleClass="w-full" [routerLink]="['/blog-detail', blog.title]">
                Read More <i class="fa-solid fa-right-long ps-2"></i>
              </p-button>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</div>