@import "../../styles/variables.scss";

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 53%;
  height: 400px;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 5%,
    rgba(255, 255, 255, 0.3) 25%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

.jumb-content {
  width: 100%;
  height: 100% !important;
  font-family: "Poppins", sans-serif !important;
  color: white;
  text-align: center;
}

.jumb-content a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.content {
  padding: 0px 12vw;

  @media only screen and (max-width: 1257px) {
    padding: 0px 40px !important;
  }

  @media only screen and (max-width: 1180px) {
    padding: 0px 10px !important;
  }

  @media only screen and (max-width: 992px) {
    padding: 0px 0px !important;
  }
}

a {
  text-decoration: none !important;
}

.blog {
  font-family: "Poppins", sans-serif !important;

  span {
    font-size: 16px;
    color: $title-color;
    font-weight: bold;
  }

  h1 {
    font-size: 60px;
    color: $main-color;
    font-weight: 700;
    line-height: 60px;
  }

  .blog_item {
    padding: 35px 50px;
    display: flex;
    flex-wrap: wrap;
  }
}
.col-lg-4,
.col-md-6,
.col-sm-12,
.col-12 {
  min-height: 52vh;
}
::ng-deep .mat-mdc-card {
  height: 100%;
  border: none;
  box-shadow: none;
  padding: 0px;
  font-family: "Inter", sans-serif;
  &:hover {
    transition: box-shadow 300ms;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .sec_img {
    width: 100% !important;
    height: 250px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover;
    }
  }

  .sec_title{
      color: $main-color!important;
      font-size: 1rem!important;
      font-weight: 800;
      line-height: 22px;
      font-family: "Poppins", sans-serif !important;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      min-height: 30px;
      display: box;
      box-orient: vertical;
      line-clamp: 2;
  }

  .sec_content {
    font-size: 14px!important;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: box;
    box-orient: vertical;
    line-clamp: 3;
  }
}

@media only screen and (max-width: 1250px) {
  .sec_img {
    height: 28vh !important;
  }
  ::ng-deep .mat-mdc-card {
    min-height: 350px;
  }
}

@media only screen and (max-width: 772px) {
  ::ng-deep .mat-mdc-card img {
    max-width: 100% !important;
    max-height: 100% !important;
  }
  ::ng-deep .mat-mdc-card {
    min-height: 400px;
  }
}

::ng-deep .p-button {
  background-color: transparent;
  border: none;
  color: $main-color;
  padding: 0px;
  font-weight: 600;
}
