@import "../../styles/variables.scss";
.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 53%;
  height: 400px;
  position: relative;
  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0.3) 25%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );
    .jumb-content {
      width: 100%;
      height: 100% !important;
      font-family: "Poppins", sans-serif !important;
      color: white;
      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.content {
  padding: 0px 12vw;

  @media only screen and (max-width: 1257px) {
    padding: 0px 40px !important;
  }

  @media only screen and (max-width: 1180px) {
    padding: 0px 20px !important;
  }
}

//About
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
/* ============ Team Section ======================== */
.creative-team-section {
  position: relative;
  overflow: hidden;
}
.creative-team-section .auto-container {
  max-width: 1310px;
  position: static;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.creative-team-section .auto-container .creative-title--wrap {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.creative-title--wrap {
  text-align: center;
  font-family: "Poppins", sans-serif !important;
  p {
    font-size: 16px;
    color: $title-color;
    font-weight: bold;
  }
  h1 {
    font-size: 60px;
    color: $main-color;
    font-weight: 700;
    line-height: 60px;
  }
}
.creative-title--wrap .creative-subtitle:before {
  position: absolute;
  left: 5px;
  top: 0;
  height: 20px;
  width: 26px;
  content: "\f178";
  color: #134cb3;
  font-family: "Poppins", sans-serif !important;
  font-weight: var(--fa-style, 900);
}
.creative-title--wrap .creative-title {
  position: relative;
  display: block;
  font-size: 48px;
  color: #16243e;
  font-weight: 600;
  letter-spacing: -1.92px;
  line-height: 1.18em;
  margin-bottom: 0;
  z-index: 2;
  margin-top: 0px;
}
.creative-team-section .row {
  display: flex;
  flex-wrap: wrap;
}
.creative-team-section .creative-team--block {
  flex: 0 0 auto;
  width: 33.33333333%;
  margin-bottom: 40px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}
.creative-team--block .inner-box {
  position: relative;
}
.creative-team--block .inner-box .image-box {
  position: relative;
}
.inner-box .image-box figure {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
  margin: 0;
}
.inner-box .image-box figure img {
  width: 100%;
  transition: all 0.4s ease;
}
.inner-box .info-box {
  position: relative;
  padding: 30px 100px 30px 30px;
  max-width: 350px;
  margin: -75px auto 0;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.07);
  border-radius: 10px 10px 0 0;
  z-index: 999;
  background: #fff;
}
.inner-box .info-box .name {
  margin-bottom: 5px;
  margin-top: 0px;
  line-height: 1.416em;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.96px;
  color: #16243e;
}
.inner-box .info-box .name a {
  color: #16243e;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.inner-box .info-box .designation {
  position: relative;
  display: block;
  transition: all 0.4s ease;
  color: #67687a;
}
.inner-box .info-box .share-icon {
  position: absolute;
  top: 40px;
  right: 30px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: $main-color;
  transition: all 0.3s ease;
  border-radius: 10px;
  z-index: 3;
}
.inner-box .info-box .social-links {
  position: absolute;
  right: 30px;
  bottom: 100%;
  margin-bottom: -30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: bottom;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}
.inner-box .info-box .social-links a {
  position: relative;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: $main-color;
  margin-top: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.creative-team--block .inner-box:hover .social-links {
  transform: scaleY(1);
  opacity: 1;
  visibility: visible;
}

/* =========== Responsive Ipad ============= */
@media only screen and (max-width: 981px) {
  .creative-team-section .creative-team--block {
    width: 50%;
  }
  .inner-box .info-box {
    max-width: 330px;
  }
}
/* =========== Responsive Iphone ============= */
@media only screen and (max-width: 767px) {
  .creative-team-section .creative-team--block {
    width: 100%;
    padding: 0px;
  }
}
