@import "../../styles/variables.scss";

.jumbotron {
  background-image: url('/assets/images/partnerBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 53%;
  height: 400px;
  position: relative;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0.3) 25%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );

    .jumb-content {
      width: 100%;
      height: 100% !important;
      font-family: "Poppins", sans-serif !important;
      color: white;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 768px) {
    height: 300px;
    background-position: 50% 50%;
  }

  @media (max-width: 576px) {
    height: 200px;
    .jumb-content {
      justify-content: center;
    }
  }
}
.content {
  padding: 0px 12vw;

  @media only screen and (max-width: 1257px) {
    padding: 0px 40px !important;
  }

  @media only screen and (max-width: 1180px) {
    padding: 0px 20px !important;
  }
}


.partners {
  font-family: "Poppins", sans-serif !important;

  span {
    font-size: 16px;
    color: $title-color;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  h1 {
    font-size: 60px;
    color: #493979;
    font-weight: 700;
    line-height: 60px;

    @media (max-width: 768px) {
      font-size: 48px;
      line-height: 50px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .part_item {
    padding: 35px 50px;

    @media (max-width: 992px) {
      padding: 35px 50px;
    }

    @media (max-width: 768px) {
      padding: 20px 30px;
    }

    @media (max-width: 576px) {
      padding: 15px 15px;
    }

    .col-lg-2 {
      margin-bottom: 20px;

      @media (max-width: 768px) {
        width: 33.33%;
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      @media (max-width: 576px) {
        width: 50%;
        flex: 0 0 50%;
        max-width: 50%;
      }

      @media (max-width: 400px) {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
      }

      img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out; 

        &:hover {
          transform: scale(1.1); 
        }
      }
    }
  }
}

