<!--Jumbotron-->
<div
  class="jumbotron w-100 p-0 m-0"
  [ngStyle]="{
    'background-image': 'url(' + settingInfo.backgroundImageUrl + ')'
  }"
>
  <div class="overlay w-100 p-0 m-0">
    <div
      class="w-100 jumb-content d-flex flex-column justify-content-end align-items-center"
    >
      <p class="sub_route">
        <a routerLink="/main">{{ Language.homePage }} </a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/partner">{{ Language.partner }}</a>
      </p>
    </div>
  </div>
</div>

<!--Partners-->
<div class="partners content pb-5">
  <div class="d-flex flex-column align-items-center pt-5 pb-4">
    <span>{{ settingInfo.subTitle }}</span>
    <h1>{{ settingInfo.title }}</h1>
  </div>
  <div class="d-flex justify-content-center m-0 px-0">
    <div class="row m-0 p-0 part_item">
      <div
        class="partners_items col-lg-2 col-md-4 col-sm-12 d-flex align-items-center justify-content-center"
        *ngFor="let partner of partnerInfo"
      >
        <div class="d-flex border_line p-3">
          <img [src]="partner.attachmentUrl" />
        </div>
      </div>
    </div>
  </div>
</div>
