<!-- Jumbotron -->
<div
  class="jumbotron w-100 p-0 m-0"
  [ngStyle]="{
    'background-image': 'url(' + settingInfo.backgroundImageUrl + ')'
  }"
>
  <div class="overlay w-100 p-0 m-0">
    <div
      class="w-100 jumb-content d-flex flex-column justify-content-end align-items-center"
    >
      <p class="sub_route">
        <a routerLink="/main">{{ Language.homePage }} </a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/blog">{{ Language.blog }}</a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/blog-detail">{{ blogInfo.title }}</a>
      </p>
    </div>
  </div>
</div>

<!-- Blog-detail -->
<div class="blog-detail px-5">
  <div class="title d-flex flex-column align-items-center pt-5  px-5">
    <span class="px-5">{{ settingInfo.subTitle }}</span>
    <h1 class="px-5">{{ blogInfo.title }}</h1>
  </div>

  <div class="blog-container content pt-0 pb-5">
    <!-- If there is only one attachment -->
    <ng-container *ngIf="blogInfo.blogAttachments.length === 1">
      <img
        [src]="blogInfo.blogAttachments[0].attachmentUrl"
        alt="Blog image"
        class="w-full border-round"
      />
    </ng-container>

    <!-- If there are multiple attachments, use carousel -->
    <ng-container *ngIf="blogInfo.blogAttachments.length > 1">
      <p-carousel
        [value]="blogInfo.blogAttachments"
        [numVisible]="1"
        [numScroll]="1"
        [circular]="false"
      >
        <ng-template let-img pTemplate="item">
          <div class="border-1 surface-border border-round m-2 p-3">
            <div class="mb-3">
              <div class="relative mx-auto w-100">
                <img
                  [src]="img.attachmentUrl"
                  [alt]="img.title"
                  class="w-full border-round"
                />
              </div>
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </ng-container>

    <!-- Blog description -->
    <p [innerHTML]="blogInfo.description" class="pb-5"></p>
  </div>
</div>
