@import "../../styles/variables.scss";

.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 53%;
  height: 400px;
  position: relative;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0.3) 25%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );

    .jumb-content {
      width: 100%;
      height: 100% !important;
      font-family: "Poppins", sans-serif !important;
      color: white;
      text-align: center;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;

        @media (max-width: 768px) {
          font-size: 12px; // Smaller font size for mobile
        }
      }
    }
  }
}

::ng-deep .p-carousel-indicators {
  display: none;
}
.content {
  padding: 0px 12vw;

  @media only screen and (max-width: 1257px) {
    padding: 0px 40px !important;
  }

  @media only screen and (max-width: 1180px) {
    padding: 0px 20px !important;
  }
}
.blog-detail {
  .title {
    font-family: "Poppins", sans-serif;
    text-align: center;

    span {
      font-size: 16px;
      color: $title-color;
      font-weight: bold;

      @media (max-width: 768px) {
        font-size: 14px; // Smaller font size for mobile
      }

      @media (max-width: 576px) {
        font-size: 12px; // Further adjust for extra small screens
      }
    }

    h1 {
      font-size: 30px;
      color: $main-color;
      font-weight: 700;
      line-height: 40px;
      font-family: "Poppins", sans-serif !important;

      @media (max-width: 768px) {
        font-size: 24px; // Adjust font size for smaller screens
        line-height: 32px; // Adjust line height for smaller screens
      }

      @media (max-width: 576px) {
        font-size: 20px; // Further adjust font size for extra small screens
        line-height: 28px; // Further adjust line height for extra small screens
      }
    }
  }

  .blog-container {
    overflow: hidden;

    img {
      width: 100%;
      height: auto; // Change to auto for responsive height
      max-height: 400px; // Set a max height for images
      object-fit: cover;

      @media (max-width: 768px) {
        max-height: 300px; // Reduce max height for smaller screens
      }
    }

    p {
      font-size: 14px;
      line-height: 1.6;
      margin: 0;
      font-family: "Poppins", sans-serif !important;

      @media (max-width: 768px) {
        font-size: 12px; // Adjust font size for smaller screens
      }
    }
  }
}

@media (max-width: 768px) {
  .blog-container {
    img {
      float: none;
      display: block;
      width: 100%;
      margin: 0 auto 10px;
    }
  }
}
