<!--Jumbotron-->
<div class="jumbotron w-100 p-0 m-0">
  <div class="overlay w-100 p-0 m-0">
    <div
      class="w-100 jumb-content d-flex flex-column justify-content-end align-items-center"
    >
      <p class="sub_route">
        <a routerLink="/main">Home </a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/blog">Blogs</a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/blog-detail">Blog detail</a>
      </p>
    </div>
  </div>
</div>
