<!--Jumbotron-->
<div class="jumbotron w-100 p-0 m-0">
  <div class="overlay w-100 p-0 m-0">
    <div
      class="w-100 jumb-content d-flex flex-column justify-content-end align-items-center"
    >
      <p class="sub_route">
        <a routerLink="/main">Home </a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/blog">Blogs</a>
        <i class="fa-solid fa-angle-right px-2"></i>
        <a routerLink="/blog-detail">Blog detail</a>
      </p>
    </div>
  </div>
</div>

<!-- Blog-detail -->
<div class="blog-detail">
  <div class="title d-flex flex-column align-items-center pt-5">
    <span>Blog</span>
    <h1 class="pb-2">{{ title }}</h1>
  </div>
  <div class="blog-container content pb-5">
    <img src="assets/images/blog1.png" alt="Blog Image" />
    <p>
      How many times were you frustrated while looking out for a good collection
      of programming/algorithm /interview questions? What did you expect and
      what did you get? This portal has been created to provide well written,
      well thought and well explained solutions for selected questions. An IIT
      Roorkee alumnus and founder of GeeksforGeeks. He loves to solve
      programming problems in most efficient ways. Apart from GeeksforGeeks, he
      has worked with DE Shaw and Co. as a software developer and JIIT Noida as
      an assistant professor. It is a good platform to learn programming. It is
      an educational website. Prepare for the Recruitment drive of product based
      companies like Microsoft, Amazon, Adobe etc with a free online placement
      preparation course. How many times were you frustrated while looking out
      for a good collection of programming/algorithm /interview questions? What
      did you expect and what did you get? This portal has been created to
      provide well written, well thought and well explained solutions for
      selected questions. An IIT Roorkee alumnus and founder of GeeksforGeeks.
      He loves to solve programming problems in most efficient ways. Apart from
      GeeksforGeeks, he has worked with DE Shaw and Co. as a software developer
      and JIIT Noida as an assistant professor. It is a good platform to learn
      programming. It is an educational website. Prepare for the Recruitment
      drive of product based companies like Microsoft, Amazon, Adobe etc with a
      free online placement preparation course. How many times were you
      frustrated while looking out for a good collection of
      programming/algorithm /interview questions? What did you expect and what
      did you get? This portal has been created to provide well written, well
      thought and well explained solutions for selected questions. An IIT
      Roorkee alumnus and founder of GeeksforGeeks. He loves to solve
      programming problems in most efficient ways. Apart from GeeksforGeeks, he
      has worked with DE Shaw and Co. as a software developer and JIIT Noida as
      an assistant professor. It is a good platform to learn programming. It is
      an educational website. Prepare for the Recruitment drive of product based
      companies like Microsoft, Amazon, Adobe etc with a free online placement
      preparation course.
    </p>
  </div>
</div>
