@import "../../styles/variables.scss";

.jumbotron {
  background-image: url("/assets/images/serviceBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 53%;
  min-height: 400px;
  position: relative;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 5%,
      rgba(255, 255, 255, 0.3) 25%,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.3) 100%
    );

    .jumb-content {
      width: 100%;
      height: 100%;
      font-family: "Poppins", sans-serif;
      color: white;

      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

.content {
  padding: 0px 12vw;

  @media only screen and (max-width: 1257px) {
    padding: 0px 40px !important;
  }

  @media only screen and (max-width: 1180px) {
    padding: 0px 10px !important;
  }

  @media only screen and (max-width: 992px) {
    padding: 0px 0px !important;
  }
}

.title {
  font-family: "Poppins", sans-serif;

  span {
    font-size: 16px;
    color: $title-color;
    font-weight: bold;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 576px) {
      font-size: 12px;
    }
  }

  h1 {
    font-size: 60px;
    color: #493979;
    font-weight: 700;
    line-height: 60px;

    @media (max-width: 768px) {
      font-size: 48px;
      line-height: 50px;
    }

    @media (max-width: 576px) {
      font-size: 36px;
      line-height: 40px;
    }
  }
}

.service-wrapper {
  .border-line {
    border: 0.5px solid rgba(90, 65, 163, 0.1);
    border-radius: 8px;
    height: 180px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
      border: 1px solid rgba(90, 65, 163, 0.3);
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
  }

  .service_img {
    background-color: $main-color !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    img {
      width: 30px !important;
      height: 30px !important;
      transition: transform 0.3s ease-in-out;

      &:hover {
        transform: scale(1.5);
      }
    }
  }
}
