<!--Jumbotron-->
<div class="jumbotron">
  <div class="overlay">
    <div class="jumb-content d-flex flex-column justify-content-center">
      <p class="sub_title">Product Liabilty & Personal Injury</p>
      <h1>The Greatest & Strongest Firm You Can Trust</h1>
      <p class="content py-4">
        We are a dedicated team of legal professionals providing expert services
        for all your legal needs. We are committed to working hard for you and
        ensuring successful outcomes. We are a dedicated team of legal
        professionals providing expert services for all your legal needs.
      </p>
      <p-button label="Free case evaluation" />
    </div>
  </div>
</div>


