<div class="jumbotron">
  <video
    [src]="homePageInfo.backgroundImageUrl"
    autoplay
    muted
    loop
    playsinline
  ></video>
  <div class="overlay">
    <div
      class="jumb-content w-100 d-flex flex-column justify-content-center align-items-center px-5"
    >
      <div class="w-50 d-flex flex-column justify-content-center align-items-center">
        <p class="sub_title">{{ homePageInfo.subTitle }}</p>
        <h1>{{ homePageInfo.title }}</h1>
        <p class="content py-4">{{ homePageInfo.text }}</p>
        <div>
          <button routerLink="/evaluation" class="free_btn py-3 px-5">
            {{ Language.homeBtn }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
