<div class="footer">
  <div class="row pt-5 pb-4 px-3 frs_foot">
    <div class="col-lg-4 ps-0 pe-5">
      <div class="about_text">
        <div class="logo_title d-flex">
          <div class="logo">
            <img src="assets/images/Logo.svg" alt="" />
          </div>
          <div class="pt-3 ps-2">
            <h1 class="p-0 m-0">INTEGRO</h1>
            <p class="p-0 m-0">ATTORNEYS & cONSULTANTS</p>
          </div>
        </div>
        <p class="text py-2" [innerHTML]="homeInfo.text">
        </p>
        <div class="social-icons"></div>
      </div>
    </div>
    <div class="col-lg-4 p-0 m-0">
      <ul class="p-0 m-0 work_hoor">
        <li class="title">{{ Language.workHours }}</li>
        <li class="sub_title">{{ Language.openDay }}</li>
        <li>{{ Language.workDay1 }}</li>
        <li>{{ Language.workDay2 }}</li>
        <li class="sub_title">{{ Language.vacation }}:</li>
        <li>{{ Language.vacDay }}</li>
      </ul>
    </div>
    <div class="col-lg-4 p-0 m-0">
      <ul class="p-0 m-0 contact_info">
        <li class="title">{{ Language.question }}</li>
        <li>
          <i class="fa-solid fa-location-dot pe-2"></i> {{contactInfo.address}}
        </li>
        <li><i class="fa-solid fa-phone pe-2"></i>{{contactInfo.phoneNumber}}</li>
        <li><i class="fa-solid fa-envelope pe-2"></i>{{contactInfo.emailAddress}}</li>
      </ul>
    </div>
  </div>

  <div class="w-100 m-0 py-3 copyright">
    © {{ currentYear }} {{Language.copyright}}
  </div>
</div>
