<div class="footer">
  <div class="row pt-5 pb-4 px-3 frs_foot">
    <div class="col-lg-4 ps-0 pe-5">
      <div class="about_text">
        <div class="logo_title d-flex">
          <div class="logo"><img src="/assets/images/Logo.png" alt="" /></div>
          <div class="pt-3 ps-2">
            <h1 class="p-0 m-0">INTEGRO</h1>
            <p class="p-0 m-0">ATTORNEYS & cONSULTANTS</p>
          </div>
        </div>
        <p class="text py-2">
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia, there live the blind texts. Lorem Ipsum is
          simply dummy text of the printing and typesetting industry.
        </p>
        <div class="social-icons"></div>
      </div>
    </div>
    <div class="col-lg-4 p-0 m-0">
      <ul class="p-0 m-0 work_hoor">
        <li class="title">Business Hours</li>
        <li class="sub_title">Opening Days:</li>
        <li>Monday - Friday: 09:00 to 20:00</li>
        <li>Saturday: 09:00 to 17:00</li>
        <li class="sub_title">Vacations:</li>
        <li>All sunday days all official holidays</li>
      </ul>
    </div>
    <div class="col-lg-4 p-0 m-0">
      <ul class="p-0 m-0 contact_info">
        <li class="title">Have a questions?</li>
        <li>
          <i class="fa-solid fa-location-dot pe-2"></i> 203 Fake St. Mountain
          View, San Francisco, California, USA
        </li>
        <li><i class="fa-solid fa-phone pe-2"></i> +99450 6883448</li>
        <li><i class="fa-solid fa-envelope pe-2"></i>www.integro.az</li>
      </ul>
    </div>
  </div>

  <div class="w-100 m-0 py-3 copyright">
    © {{ currentYear }} Copyright All rights reserved Integro
  </div>
</div>
